//  .Total-wrap{
//      background-image: url("./Images/Mountain.jpg");
//      height: 100vh;
//      background-repeat: no-repeat;
//      background-size: cover;
// }
.Nav-wrap{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    padding: 10px;
    color: aliceblue;
    position: fixed;
    width: 100%;
}