.Log{
    color: aqua;
}
.leftcontent{
    background-color: #4284F3;
    height: 100vh;
}
.Welcome{
    color: rgb(255, 255, 255);
    margin-left: 20px;
 margin-top: 100px;
}
.In{
    color: rgb(0, 0, 0);
    margin-left: 50px;
    margin-top: 50px;
}
.Happy{
    font-size:medium;
    margin-left: 50px;
    margin-top: -20%;
}